#card .sub {
    font-weight: 600;
    color: #888888;
    font-size: 18px;
}

.img{
    height: 30  0px;
    width: 300px;
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png"); */
    margin-top: 24px; 
    background-position: center;
    background-size: cover;
    margin-right: 34px;

}

.meta{
    font-weight: 600;
    font-size: 12px;
}

.button-area{
    margin-top: 0 !important;
}

#card{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}