.im-container.im-add-project .add-project-form-container
  margin: 20px auto
  width: calc(100% - 240px)

.assesment-button
  text-align: center

.project-update
  margin-top: 0.48em
  width: 4.5em
  height: 4.5em
  border-radius: 4em
  border: 2px solid #FF624A

#add-story
  padding: 0.7em 2em 0.7em 2em
  font-weight: 600
  text-transform: uppercase

.add-story-btn
  margin-top: 2em

.project-update-container
  margin: 20px 20px 20px 0px !important
  height: auto !important
  width: auto
  margin: 1em
  padding: 1em
  // background-color: #FAFAFA

.project-update
  margin-top: 0.48em
  width: 4.5em
  height: 4.5em
  border-radius: 4em
  border: 2px solid #FF624A

.project-update-img-container
  border: 0.1em solid #FA4600
  width: 5em
  height: 5em
  border-radius: 50%
  background-size: cover
  background-repeat: no-repeat
  background-image: url('http://bpic.588ku.com/element_origin_min_pic/17/09/19/28e7312d32356cabb08cb36d5d232492.jpg')

.add-update-editable
  margin: 0px -15px 0px 0px
  border-radius: 2px
  // height: 67%
  padding: 0px 0px 0px 0px

.chips
  width: 122px
  height: 40px
  border: 1px solid #F5F6F7
  padding: 0em 0.6em 0em 0.6em
  border-radius: 50px
  background-color: #F1F1F1

.vertical-line
  height: 50% !important
  border: 0.01em solid #FF624A
  width: 1px
  margin: 12px 0px 0px 28px

.add-update-container
  width: 85%
  margin: 10px 10px 10px 0px
  height: 17.5em
  border-radius: 3px
  border: 2px solid #A7A7A7

.editable-div
  height: auto
  overflow-y: scroll
  border-radius: 5px
  margin-bottom: 8px
  &.edit
    border: 1px solid #eee
  
.project-options
  width: 70px
  height: 35px
  padding: 2px
  cursor: pointer

.edit-mode-close
  float: right
  margin: -15px
  width: 1.4em
  height: 1.4em
  border-radius: 12px
  padding: 0px 1px 0px 7px
  background-color: #10A1B1

.update-header
  height: 3em
  padding: 0.5em
  background-color: #F1F1F1
  text-transform: uppercase

.create-options
  display: inline-flex

.image-container
  display: -webkit-inline-box
  width: 100%
  height: 10px
  color: teal

.img-settings
  height: 70%
  position: relative
  margin: 1em
  cursor: pointer

.image-text-click
  position: absolute
  top: 18%
  left: 87%
  color: black
  font-size: 80px
  font-weight: inherit

.modal-img-settings
  width: 100%
  height: 100%

.attachment-box
  width: 3em
  height: 3em
  border: 1px solid #d7d7c1
  cursor: pointer
  border-radius: 2px
  padding: 0.5em

.attachment-thumbnail
  width: 60%
  height: 80%
  margin-left: 1em

.attachment-img-settings
  width: 100%
  height: 70%

.file-link
  width: 100%
  height: 30%
  font-size: 14px
  color: #30D2D5
  margin-top: 0px

.styles_modal__gNwvD
  max-width: 1000px
  width: 1000px
  height: 80%
.comment_modal
  width: auto
  margin: auto
  min-width: auto
  min-height: 50%
  .comment
    padding: 20px
  .comment_by
    float: left
    font-size: 14px
    color: gray
.modal-left
  width: 65%
  height: 100%
  background-color: white
  float: left

.modal-right
  width: 35%
  height: 100%
  background-color: white
  float: right
  padding-top: 10px
  padding-left: 15px

.col-sm-12
  padding-right: 0px
  padding-left: 0px

.modal-img-container
  border: 0.1em solid #eee
  float: left
  width: 3em
  height: 3em
  border-radius: 50%
  background-size: cover
  background-repeat: no-repeat
  background-image: url('http://bpic.588ku.com/element_origin_min_pic/17/09/19/28e7312d32356cabb08cb36d5d232492.jpg')

.modal-user-name
  float: left
  padding-left: 10px
  font-family: inherit
  font-weight: 600

.im-album-modal
  background-color: #F3F3F3
  width: 100%
  height: 100%

.header
  height: 10px

.album-data
  border: 1px solid #ffffff
  background-color: #FAFAFA
  border-radius: 4px
  width: 100%
  height: 90%
  margin-top: 20px
  padding: 10px
.album-container
  border: 1px solid #ffffff
  background-color: #FAFAFA
  width: 100%
  height: 90%
  margin-top: 20px
  border-radius: 4px
  display: flex
  padding: 10px

.im-updates-images-modal-container
  .prev,
  .next
    cursor: pointer
    position: absolute
    top: 55%
    width: 30px
    height: 30px
    line-height: 30px
    text-align: center
    margin: -50px 5px 0 5px
    color: white
    font-weight: bold
    font-size: 20px
    transition: 0.6s ease
    border-radius: 0 3px 3px 0
    background-color: black
    border-radius: 50%
    background-color: rgba(0, 0, 0, 0.75)

  .next
    position: relative
    float: right
    right: 0

  .prev:hover,
  .next:hover
    background-color: rgba(0, 0, 0, 1)

.modal-image-description
  float: left
  padding-top: 15px

.image-details
  float: left
  font-family: inherit
  color: #90949c
  padding-left: 10px
  font-size: 14px

.upload-image-container
  height: inherit
  padding: 12px 0
  cursor: pointer
  display: flex
  // flex-direction: column
  justify-content: space-around
.upload-video-container
  height: 480px
  padding: 12px 0
  cursor: pointer
  display: flex
  flex-direction: column
  justify-content: space-evenly

.add-image-button
  color: #fff
  padding: 5px 10px
  text-align: center
  border-radius: 4px
  background-color: #ef5a20

.uploaded-image
  height: 80px
  width: 80px
  float: left
  margin-right: 12px
  border-radius: 4px
  border: 1px solid #eee
  background-color: #ffffff
  &:hover
    border: none
    box-shadow: 1px 0.5px 20px #eee

.album-1
  background-color: #F3F3F3
  width: 150px
  height: 150px
  border-radius: 7px
  overflow: hidden

.add-image-button-modal, .submit-images, .submit-valid-url, .cancel-images, .cancel-url
  width: 150px
  color: #fff
  padding: 6px 10px
  text-align: center
  border-radius: 50px
  background-color: #ef5a20
  cursor: pointer
  border: none
.submit-invalid-url
  width: 150px
  color: #fff
  padding: 6px 10px
  text-align: center
  border-radius: 50px
  background-color: #a9a9a9
  cursor: pointer
  border: none
.add-image-button-modal-disabled
  width: 150px
  color: #fff
  padding: 6px 10px
  text-align: center
  border-radius: 50px
  background-color: #a9a9a9
  border: none

.urlInput
  border: .5px solid #ddd
  height: 40px
  border-radius: 7px
  padding: 10px
  width: 80%

.image-upload-container
  height: 445px
  display: flex
  flex-direction: column
  justify-content: space-evenly

.video-play-button
  width: 150px
  margin-top: 10px
  height: 30px
  background-color: #a9a9a9
  border: none
  border-radius: 7px
  color: #fff
  &:hover
    background-color: #ef5a20
