#success_message
    display: none

.no-pad-left
    padding-left: 0 !important

.no-pad-right
    padding-right: 0 !important

.form-control
    border-radius: 0 !important
    height: 45px

textarea
    min-height: 150px
    resize: vertical

.form-group
    margin-bottom: 0 !important

.btn-container
    display: flex
    justify-content: center
    margin-top: 20px

    button
        height: 35px
        margin: 0 10px
        font-size: 13px
        text-transform: uppercase

        .glyphicon
            font-size: 13px

.generate-btn
    letter-spacing: 1px
    font-weight: 400
    text-transform: uppercase
    font-size: 13px

.add-btn
    height: 43px
    border-radius: 0

.input-group-addon:first-child
    border-radius: 0

.control-label
    font-weight: bold
    font-size: 15px
    margin-top: 15px
    color: #6f6f6f
    letter-spacing: 0.1rem
    display: block

\::-webkit-input-placeholder
    color: #6f6f6f
    opacity: 0.6

\:-moz-placeholder
    color: #6f6f6f
    opacity: 0.6

\::-moz-placeholder
    color: #6f6f6f
    opacity: 0.6

\:-ms-input-placeholder
    color: #6f6f6f
    opacity: 0.6

.no-pad-left
    padding-left: 0

.no-pad-right
    padding-right: 0

.btn-center
    position: relative
    left: 50%
    transform: translateX(-50%)
    height: 40px
    border-radius: 0
    border: 1px solid #ef5920 !important

    &:hover, &:focus, &:active, &.active
        color: #fff
        background-color: #ef5920
        border-color: #ef5920

.open > .dropdown-toggle.btn-center
    color: #fff
    background-color: #ef5920
    border-color: #ef5920

.legend-header
    padding: 50px
    background: #f5f5f5 url(/images/idea-pattern-bg.png) no-repeat fixed top center
    background-size: cover

.legend-title
    font-size: 3.750rem
    font-weight: 200
    margin: 0 0 10px 0
    border-bottom: none
    letter-spacing: 1.5px
    text-align: center
    color: #222222

.legend-subtitle
    padding: 0 15%
    font-size: 18px
    text-align: center
    color: #222222
    font-weight: 200

.is-imp::after
    content: "*"
    color: #d5313e
    line-height: 1
    margin-top: 2px
    font-weight: 700
    padding-left: 2px
    font-size: 1.2rem
    position: absolute
    vertical-align: text-top

.margin-col-10
    margin-top: 10px
    margin-bottom: 10px

.tag-template

    .left-panel
        float: left

        img
            width: 24px
            height: 24px
            vertical-align: middle

    .right-panel
        float: left
        margin-left: 5px

.autocomplete-template

    .left-panel
        float: left

        img
            width: 48px
            height: 48px
            vertical-align: middle

    .right-panel
        float: left
        margin-left: 5px
        margin-top: 7px

    span

        &:first-child
            font-size: 14px

        &:nth-child(2)
            font-size: 14px
            color: gray

        &:last-child
            display: block
            font-size: 14px

.white-bg
    background-color: white

.ng-flat-datepicker-wrapper
    display: inline !important

.red-color
    color: red
    display: none

.title-help
    font-size: 11px
    margin-left: 0px !important
    margin-right: 0px !important

.ta-scroll-window > .ta-bind
    min-height: 100px !important

.priority-star
    display: inline-flex !important
    position: relative
    flex-direction: row-reverse
    justify-content: flex-end

.wrong-email, .wrong-password
    display: none