@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700')

*
  font-family: 'Source Sans Pro', sans-serif
  font-size: 16px
  outline: none !important

.pointer
  cursor: pointer !important

.page-container
  position: fixed !important
  left: 250px
  right: 0px
  top: 60px
  bottom: 0
  overflow-x: scroll
  padding: 20 50px 50px 50px

.page-container-expense
  position: fixed !important
  left: 0px
  right: 0px
  top: 60px
  bottom: 0
  overflow-x: scroll
  padding: 20 50px 50px 50px

  &.premium
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    padding: 20px 150px 50px 150px

note, *.note
  color: #ef5a20
  font-weight: 600
  font-size: 14px
  > *, > a
    color: #ef5a20 !important
    text-decoration: underline !important

a
  text-decoration: none !important
  font-size: 14px !important

li
  list-style: none !important

.my-custom-class
  display: flex !important

.full-width
  width: 100% !important

.back-btn
  border: 0 !important
  border-radius: 0 !important
  padding: 5px 10px
  background: $letsendorse-light !important
  color: $white !important
  transition: 200ms all ease-in-out
  font-size: 14px !important
  font-weight: normal !important
  text-transform: uppercase !important

  i
    margin-right: 5px !important

  &:hover
    background: $letsendorse !important

.input-text
  width: 100% !important
  height: 35px !important
  padding: 0 10px !important

.input-select
  height: 35px !important
  -webkit-appearance: none !important
  border-radius: 0 !important
  border: 1px solid #dfdfdf !important
  background: none !important
  padding: 0 10px !important

html input[disabled]
  cursor: not-allowed !important
  background: #ccc !important
  border: 0 !important

// Modal
.modal-header-custom
  font-size: 18px
  font-weight: bold
  text-transform: uppercase
  color: $dark-black

.modal-sec-title
  font-size: 14px
  font-weight: bold
  text-transform: uppercase
  color: $light-black

// Bootstrap Override
.row
  margin: 0 !important

.padding0
  padding: 0 !important

.m0
  margin: 0 !important
  
.mb5
  margin-bottom: 5px !important

.mb10
  margin-bottom: 10px !important

.mb20
  margin-bottom: 20px !important

.mb30
  margin-bottom: 30px !important

.mt5
  margin-top: 5px !important

.mt10
  margin-top: 10px !important

.mt15
  margin-top: 15px !important

.mt20
  margin-top: 20px !important

.mt30
  margin-top: 30px !important

.mt50
  margin-top: 50px !important

.mr10
  margin-right: 10px !important

.mr15
  margin-right: 15px !important

.mr5
  margin-right: 5px !important

.ml5
  margin-left: 5px !important

.mr0
  margin-right: 0px !important

.ml0
  margin-left: 0px !important

.ml10
  margin-left: 10px !important

.ml15
  margin-left: 15px !important

button.btn:not(.multiselect)
  font-weight: normal
  letter-spacing: 1px
  color: #fff !important
  border: #ef5a20 !important
  background: #ef5a20 !important
  transition: all 0.4s ease !important
  &.btn-danger
    border: #444 !important
    background: #444 !important
  &:disabled
    border: #888 !important
    background: #888 !important
  > span
    // color: #fff
    font-weight: 600
    text-shadow: none
  *
    margin: 0 3px !important
    font-size: 12px !important

// React bootstrap table
.react-bs-table
  height: auto !important

  .react-bs-container-body
    height: auto !important

// Custom For All Files
.flex-center
  display: flex
  justify-content: center
  align-items: center

.clear-table-search
  cursor: pointer
  margin: 0 2px
  color: #777
  &:hover
    color: #333
  &.donor-table
    background: #ef5a20
    color: #fff
    padding: 0 10px
    margin: 0
    box-shadow: 1px 0px 1px #ef5a20
    display: block
    height: 34px
    line-height: 34px
    &:hover
      box-shadow: 1px 0px 1px #888

.react-bootstrap-table-page-btns-ul.pagination li.page-item
  a
    color: #ef5a20 !important
  &.active a
    color: #fff !important
    background: #ef5a20 !important
    border-color: #ef5a20 !important

div.swal2-content
  span
    float: left
    font-weight: 600
  input.swal2-input
    margin-top: 5px

.swal2-confirm.btn, .swal2-cancel.btn
  color: #fff !important

input.swal2-input::-webkit-input-placeholder
  color: #000 !important

input.swal2-input:-moz-placeholder
  color: #000 !important

input.swal2-input::-moz-placeholder
  color: #000 !important

input.swal2-input:-ms-input-placeholder
  color: #000 !important

// React-Datepicker
.react-datepicker
  display: flex  !important
  .react-datepicker__navigation--previous
    left: 15px !important
    border-right-color: #999 !important
    line-height: 14px !important
    top: 14px !important
  .react-datepicker__navigation--next
    right: 15px
    border-left-color: #999 !important
    line-height: 14px !important
    top: 14px !important
  .react-datepicker__header
    .react-datepicker__current-month
      font-size: 14px !important
    .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow
      border-top-color: #999 !important
  .react-datepicker__day-name, .react-datepicker__day
    width: 20px !important
    margin: 2px 5px !important
  .react-datepicker-time__header
    font-size: 13px
  ul.react-datepicker__time-list > li
    font-size: 12px