.im-container.mis-content-container
	padding: 0
	display: flex
	margin-top: 0
	margin-left: 200px
	width: calc(100% - 200px)
	height: calc(100vh - 60px)
	.threadsCol
		overflow: hidden
		position: relative
		width: 250px
		background: #fafafa
		.projectTitleDiv
			width: 100%
			color: #888
			height: 60px
			padding: 10px
			display: flex
			font-size: 18px
			align-items: center
			background: #fafafa
			justify-content: left
			border-bottom: solid 1px #ededfa
			.chat-input
				border: none
				background-color: #ededfa
				color: #6C6C6F
				width: 100%
				padding: 10px
				border-radius: 50px
		.threadDiv
			top: 60px
			padding: 0
			overflow: hidden
			position: absolute
			height: calc(100% - 60px)
			.NgoNameCol
				padding: 0
				height: 100%
				overflow-y: auto
				overflow-x: hidden
				&::-webkit-scrollbar
					width: 5px
					display: block
				&::-webkit-scrollbar-thumb
					display: block
					border-radius: 0px
					background-color: rgba(239, 90, 32, 0.85)
					&:hover
						background: rgba(239,90,32,1)
				&::-webkit-scrollbar-track
					display: block
					background: #e3e3e3
				.projectTitleContainer
					display: flex
					min-height: 36px
					padding: 6px 10px
					flex-direction: column
					justify-content: center
					align-items: flex-start
					border-bottom: 1px solid #ddd
					&.selected
						background: #ef5a20
						p.NgoMessage
							color: #fff
					.projectTitle
						display: flex
						align-items: center
						justify-content: space-between
						.NgoName
							color: #ef5a20
							font-size: 20px
							margin-bottom: 3px
						.statusIndicators
							width: 10px
							height: 10px
							background: green
							border-radius: 100px
					.NgoMessage
						margin: 0
						width: 100%
						color: #a9a9a9
						font-size: 14px
						overflow: hidden
						white-space: nowrap
						text-overflow: ellipsis
					.projectDevider
						width: 100%
						margin: 10px auto 0  auto
						border: solid .5px #ededfa
	.ChatMessageContainer
		flex-grow: 1
		display: flex
		flex-direction: column
		width: calc(100% - 500px)
		transition: all 0.4s ease
		&.chat-info-col-hidden
			width: calc(100% - 250px)
		.projectTitleDiv
			z-index: 1
			width: 100%
			height: 60px
			display: flex
			padding: 15px
			background: #fff
			align-items: center
			justify-content: space-between
			border-bottom: solid 1px #ededfa
			.projectTitle
				margin: 0
				color: #a9a9a9
				font-size: 18px
				overflow: hidden
				white-space: nowrap
				text-overflow: ellipsis
		.chat
			flex-grow: 1
			display: flex
			overflow: hidden
			position: relative
			flex-direction: column
			justify-content: flex-end
			height: calc(100% - 120px)
			&.no-chat
				justify-content: center
			.new-message-below-toast
				left: 50%
				color: #fff
				height: 26px
				bottom: 10px
				display: flex
				font-size: 14px
				cursor: pointer
				padding: 2px 12px
				position: absolute
				border-radius: 13px
				align-items: center
				background: #ef8e20
				transform: translateX(-50%)
				> i.fa
					margin-left: 4px
			.chat-scroll
				padding: 10px
				overflow-y: auto
				overflow-x: hidden
				&::-webkit-scrollbar
					width: 5px
				&::-webkit-scrollbar-thumb
					border-radius: 0px
					background-color: rgba(90, 90, 90, 0.8)
					&:hover
						background: rgba(90, 90, 90, 1)
				&::-webkit-scrollbar-track
					background: #e3e3e3
			.user-message-incoming
				display: flex
				max-width: 100%
				align-items: center
				margin: 5px 0 !important
				&.text-center
					justify-content: center
				.projectTitleName
					width: 15px
					height: 15px
				> div
					width: 100%
					display: flex
					flex-direction: column
					align-items: flex-start
				.incoming-message
					color: #fff
					max-width: 85%
					font-size: 14px
					padding: 5px 8px
					margin: 0 0 0 5px
					border-radius: 4px
					word-break: break-word
					background-color: #ef5a20
					> span
						float: right
						color: #f3f3f3
						font-size: 11px
						margin-top: 3px
						margin-left: 6px
			.user-message-reply
				display: flex
				max-width: 100%
				align-items: center
				align-self: flex-end
				margin: 5px 0 !important
				justify-content: flex-end
				> div
					width: 100%
					display: flex
					flex-direction: column
					align-items: flex-end
				.reply-message
					color: #3C3C3F
					max-width: 85%
					font-size: 14px
					padding: 5px 8px
					margin: 0 5px 0 0
					border-radius: 4px
					word-break: break-word
					background-color: #ededfa
					> span
						color: #777
						float: right
						font-size: 11px
						margin-top: 3px
						margin-left: 6px
		.chatForm
			height: 60px
			display: flex
			overflow: hidden
			padding: 5px 20px
			align-items: center
			border-top: 1px solid #dadada
			&::before
				content: none
			&::after
				content: none
			.attach-button-col
				padding: 0
				width: auto
				.chat-attach
					border: none
					background: transparent
			.chat-input-col
				padding: 0 !important
				width: calc(100% - 40px)
				.chat-input
					width: 100%
					border: none
					color: #3C3C3F
					padding: 10px 16px
					border-radius: 40px
					background-color: #dfdfe3
			.chat-button-col
				width: 40px
				display: flex
				padding: 0 !important
				justify-content: center
				.chat-send
					border: none
					background-color: transparent
					.sendIcon
						color: #ef5a20
	.threadsInfoCol
		width: 250px
		display: flex
		padding: 15px
		position: relative
		background: #fafafa
		align-items: center
		flex-direction: column
		transition: all 0.4s ease
		&.hide-info
			width: 0
			padding: 0
			> *:not(.chat-info-col-toggler-container)
				display: none
		.chat-info-col-toggler-container
			top: 10px
			right: 100%
			width: 40px
			z-index: 99
			height: 40px
			display: flex
			cursor: pointer
			font-size: 18px
			position: absolute
			align-items: center
			justify-content: center
			border-top-left-radius: 5px
			border-bottom-left-radius: 5px
			background: linear-gradient(to left, #fafafa, #f6f6f6)
			> i.fa
				margin-left: 4px
				transition: all 0.3s ease
				&.inverted
					margin-left: 0
					transform: rotate(180deg)
		.projectTitleinfo
			text-align: center
			margin-top: 20px
			font-size: 20px
		.infoDevider
			border: solid .5px #ef5a20
			width: 60%
			margin-top: 15px
			margin-bottom: 15px
		.projectInfoContainer
			display: flex
			flex-direction: column
			height: calc(100% - 35%)
			margin-top: 12px
			.projectInfo
				margin-bottom: 30px
				display: flex
				align-items: center
				justify-content: flex-start
				.bulletPoints
					width: 10px
					height: 10px
					background: #ef5a20
					border-radius: 100px
					margin-right: 10px
				.MessageExchanged
					margin: 0
					font-size: 16px
				.attachmentsNo
					margin: 0
					font-size: 16px
				.conversationBegan
					margin: 0
					font-size: 16px
					width: calc(100% - 20px)
				.bulletPointStatus
					width: 10px
					height: 10px
					background: green
					border-radius: 100px
					margin-right: 10px
				.changeStatus
					margin: 0
					font-size: 16px
				.showStatusColIcon
					color: #ef5a20
			.statusCol
				display: flex
				background: #ededfa
				flex-direction: column
				height: 25%
				padding: 10px
				position: absolute
				top: 60%
				.statusColTitle
					margin: 0
					font-size: 16px
				.statusColDevider
					border: solid .5px #ddd
					width: 100%
					margin: 10px auto 0 auto
				.statusColContainer
					display: flex
					height: 100%
					flex-direction: column
					.green
						height: 40px
						display: flex
						align-items: center
						padding: 10px
						&:hover
							cursor: pointer
							background: #fafafa
						.bulletPointGreen
							width: 10px
							height: 10px
							background: green
							border-radius: 100px
							margin-right: 10px
						.changeStatus
							margin: 0
							font-size: 15px
					.yellow
						height: 40px
						display: flex
						align-items: center
						padding: 10px
						&:hover
							cursor: pointer
							background: #fafafa
						.bulletPointYellow
							width: 10px
							height: 10px
							background: yellow
							border-radius: 100px
							margin-right: 10px
						.changeStatus
							margin: 0
							font-size: 15px
					.red
						height: 40px
						display: flex
						align-items: center
						padding: 10px
						&:hover
							cursor: pointer
							background: #fafafa
						.bulletPointRed
							width: 10px
							height: 10px
							background: red
							border-radius: 100px
							margin-right: 10px
						.changeStatus
							margin: 0
							font-size: 15px


