.im-container.im-add-project
	display: flex
	justify-content: center
	flex-direction: column
	.add-project-title
		color: #ef5a20
		font-size: 26px
		text-align: center
	.add-project-form-container
		margin-bottom: 30px
		.form-group
			textarea
				min-height: 90px
			&.project-category-selector-container
				display: flex
				.project-category-selector
					flex-grow: 1
				.custom-project-category-container
					min-width: 45%
					margin-left: 0px
			&.cover-image-video-container
				.cover-image-video
					display: flex
					align-items: center
					> .image-upload
						> img.image-preview
							max-width: 200px
							margin-left: 15px
							max-height: 100px
							border: 1px solid #ccc
					> span
						margin: 0 15px
					> .video-url
						flex-grow: 1
			.proposed-duration-container
				display: flex
				> input
					margin-right: 15px
			&.deployment-locations-container, &.milestones-container, &.ee-opportunities-container, &.partners-container
				.deployment-locations, .milestones, .ee-opportunities, .partners
					padding: 8px 0
					background: #fafafa
					border: 1px solid #ddd
					.partner-container
						background: #fcfcfc
						box-shadow: 0px 0px 3px #aaa
						padding-bottom: 10px !important
						margin: 0 0 10px 10px !important
						width: calc(50% - 15px) !important
					.deployment-location-container, .milestone-container, .ee-opportunity-container, .partner-container
						display: flex
						align-items: flex-end
						margin-bottom: 10px !important
						.control-label.is-imp
							margin-top: 0
						.remove-btn-container
							padding: 0
							text-align: center
							margin-bottom: 7px
							.remove-btn
								color: #ef5a20
								cursor: pointer
				.add-btn-container
					display: flex
					justify-content: flex-end
					.add-btn
						display: flex
						align-items: center
			.unit-economics-radio-container
				display: flex
				align-items: center
				.label-container
					margin: 0
					height: 25px
					display: flex
					cursor: pointer
					font-size: 16px
					user-select: none
					margin-right: 20px
					position: relative
					padding-left: 32px
					align-items: center
					-ms-user-select: none
					-moz-user-select: none
					-webkit-user-select: none
					&:hover input ~ .checkmark
						background-color: #ccc
					input:checked ~ .checkmark
						background-color: #2196F3
					input:checked ~ .checkmark:after
						display: block
					.checkmark:after
						top: 5px
						left: 9px
						width: 7px
						height: 14px
						border: solid white
						transform: rotate(45deg)
						border-width: 0 3px 3px 0
						-ms-transform: rotate(45deg)
						-webkit-transform: rotate(45deg)
					input
						opacity: 0
						cursor: pointer
						position: absolute
					.checkmark
						top: 0
						left: 0
						width: 25px
						height: 25px
						position: absolute
						background-color: #ddd
						&:after
							content: ""
							display: none
							position: absolute
		.unit-economics-container
			width: 100%
			display: flex
			align-items: flex-end
		.amount-breakup-table-container
			.amount-breakup-table-label-button
				display: flex
				align-items: center
				justify-content: space-between
				.add-budget-btn
					padding: 6px
					display: flex
					align-items: center
			.amount-breakup-table
				.amount-breakup-table-headers
					display: flex
					border-right: 0
					background: #eee
					border: 1px solid #ccc
					.header-item
						width: 10.5%
						display: flex
						padding: 6px 0
						font-size: 12px
						text-align: center
						align-items: center
						justify-content: center
						border-right: 1px solid #ccc
						&.delete
							width: 5.5%
							border-right: 0
				.amount-breakup-table-rows
					border-left: 1px solid #ddd
					border-right: 1px solid #ddd
					.amount-breakup-table-row
						display: flex
						background: #fcfcfc
						border-bottom: 1px solid #ddd
						.row-item
							width: 10.5%
							display: flex
							font-size: 12px
							padding: 2px 4px
							min-height: 32px
							text-align: center
							align-items: center
							justify-content: center
							border-right: 1px solid #ccc
							&.delete
								width: 5.5%
								border-right: 0
							> input
								height: 28px
								font-size: 12px
								padding: 2px 3px
								box-shadow: none
								text-align: center
								background: #f2f2f2
								border: 1px solid #ddd
							&:hover
								> span
									background: #d0d0d0
							&.comments
								> div
									width: 100%
									display: block
									font-size: 12px
									cursor: pointer
									padding: 2px 3px
									min-height: 28px
									overflow: hidden
									background: #f2f2f2
									display: -webkit-box
									-webkit-line-clamp: 3
									border: 1px solid #ddd
									text-overflow: ellipsis
									-webkit-box-orient: vertical
							> span
								width: 100%
								height: 28px
								display: block
								font-size: 12px
								cursor: pointer
								overflow: hidden
								padding: 2px 3px
								line-height: 28px
								background: #f2f2f2
								white-space: nowrap
								border: 1px solid #ddd
								text-overflow: ellipsis
							&.delete
								> span
									border: 0
									background: none
								.remove-amount-breakup-row
									color: #ef5a20
							&.in-units
								> div
									width: 100%
									height: 28px
									display: flex
									box-shadow: none
									text-align: center
									align-items: center
									background: #f2f2f2
									border: 1px solid #ddd
									justify-content: center
								.label-container
									margin: 0
									height: 20px
									display: flex
									cursor: pointer
									font-size: 12px
									user-select: none
									margin-right: 0px
									position: relative
									padding-left: 24px
									align-items: center
									-ms-user-select: none
									-moz-user-select: none
									-webkit-user-select: none
									&:hover input ~ .checkmark
										background-color: #ccc
									input:checked ~ .checkmark
										background-color: #2196F3
									input:checked ~ .checkmark:after
										display: block
									.checkmark:after
										top: 4px
										left: 8px
										width: 5px
										height: 10px
										border: solid white
										transform: rotate(45deg)
										border-width: 0 2px 2px 0
										-ms-transform: rotate(45deg)
										-webkit-transform: rotate(45deg)
									input
										opacity: 0
										cursor: pointer
										position: absolute
									.checkmark
										top: 0
										left: 0
										width: 20px
										height: 20px
										position: absolute
										background-color: #ddd
										&:after
											content: ""
											display: none
											position: absolute
				.total-budget-container, .total-budget-container > b
					color: #444
					font-size: 14px
		.add-project-btn-container
			text-align: center
			> button
				margin: 0 10px
				transition: all 0.4s ease
				&:hover
					box-shadow: 1px 1px 1px #444
				&.discard-project-btn
					background: #888 !important
				&.save-project-btn
					background: #00d27b !important