.im-container.im-projects-page
	height: calc(100vh - 60px)
	.im-projects-sidebar
		left: 0
		top: 60px
		width: 250px
		height: 100%
		display: flex
		position: static
		background: #fafafa
		flex-direction: column
		justify-content: space-between
		box-shadow: 0px 2px 4px 1px #515356
		ul.projects-sidebar-filters
			padding: 15px
			padding-top: 35px
			position: relative
			.clear-filter-btn
				top: 10px
				z-index: 9
				right: 10px
				font-size: 13px
				font-weight: 600
				position: absolute
			li.projects-sidebar-filter-container.form-group
				> span.heading.control-label
					color: #2bc
					font-size: 14px
					margin-top: 8px
				> .form-control
					padding: 6px
					height: 30px
					font-size: 13px
					line-height: 1.3
				.status-filter-container
					display: flex
					align-items: left
					flex-direction: column
					.label-container
						margin: 4px
						height: 18px
						display: flex
						cursor: pointer
						font-size: 14px
						user-select: none
						margin-right: 20px
						position: relative
						padding-left: 26px
						align-items: center
						-ms-user-select: none
						-moz-user-select: none
						-webkit-user-select: none
						&:hover input ~ .checkmark
							background-color: #ccc
						input:checked ~ .checkmark
							background-color: #2196F3
						input:checked ~ .checkmark:after
							display: block
						.checkmark:after
							top: 2px
							left: 6px
							width: 7px
							height: 14px
							border: solid white
							transform: rotate(45deg)
							border-width: 0 3px 3px 0
							-ms-transform: rotate(45deg)
							-webkit-transform: rotate(45deg)
						input
							margin: 0
							opacity: 0
							cursor: pointer
							position: absolute
						.checkmark
							top: 0
							left: 0
							width: 20px
							height: 20px
							position: absolute
							background-color: #ddd
							&:after
								content: ""
								display: none
								position: absolute
		div.projects-sidebar-footer
			left: 0
			bottom: 8px
			width: 250px
			display: flex
			position: absolute
			justify-content: center
	.im-projects-container
		top: 0
		left: 250px
		height: 100%
		overflow: scroll
		padding: 20px 50px
		position: absolute
		width: calc(100% - 250px)
		.im-project.project-portfolio
			display: inline
			> h1
				text-align: center
				color: #EF5A20
				margin-bottom: 30px
			.project-total-amount
				display: inline-block
				width: 80%
			.portfolio-btn
				display: inline-block
				vertical-align: top
				text-align: right
		.im-project.single-project
			display: flex
			height: auto
			margin: 30px 0
			justify-content: space-between
			box-shadow: 1px 1px 4px #777
			.project-img-container
				width: 30%
				> a
					display: block
					position: relative
					.project-image
						width: 100%
						height: 210px
					.project-status
						top: 20px
						z-index: 9
						left: -10px
						position: absolute
						.current-state-outer
							color: #fff
							padding: 5px 20px
							position: relative
							background: #fa7253
							text-transform: uppercase
							.outer-arrow
								left: 0
								width: 0
								height: 0
								bottom: -10px
								position: absolute
								border-top: 0 solid transparent
								border-bottom: 10px solid transparent
								border-right: 10px solid #e4401b
			.title-desc-container
				width: 45%
				padding: 10px 10px
				.project-title span
					color: #ef5a20
					line-height: 1
					font-size: 16px
					font-weight: 600
					letter-spacing: 1px
				.project-description p
					font-size: 13px
					overflow: hidden
					font-weight: 400
					margin-top: 10px
					text-indent: 10px
					display: -webkit-box
					-webkit-line-clamp: 2
					letter-spacing: 0.5px
					text-overflow: ellipsis
					-webkit-box-orient: vertical
				.features
					display: flex
					margin-top: 3px
					.heading
						color: #ef5a20
						font-weight: 600
						font-size: 15px
						line-height: 21px
						margin-right: 6px
					.content
						color: #444
						font-size: 14px
						line-height: 21px
					button.btn
						color: #ef5a20
						background: #fff
						margin: 5px 10px 5px 0
						text-transform: uppercase
						transition: all 0.4s ease
						box-shadow: 1px 1px 2px #ef5a20
						&:hover
							box-shadow: 1px 1px 2px #444
			.extra-container
				width: 25%
				padding: 20px 10px
				background: #fefefe
				box-shadow: -1px 0 1px #e9e9e9
				.project-location, .project-budget-con, .project-duration-container
					margin-top: 3px
					i.fa, b
						color: #ef5a20
