.im-project-page.im-container
	display: flex
	height: calc(100vh - 60px)
	.im-project-container.im-live-project-details
		right: 0
		top: 60px
		bottom: 0
		padding: 0
		left: 200px
		margin-top: 10px
		overflow-x: scroll
		position: fixed !important
		.single-investment-container
			width: 100%
			margin: 20px 0
			.back-container
				margin-bottom: 10px
				.back
					cursor: pointer
					font-size: 14px
					font-weight: 500
					color: #666 !important
					&:hover
						color: #222 !important
			.project-title
				font-size: 16px
				color: #ef5a20
				margin-bottom: 15px !important
				text-transform: uppercase
			.section
				margin-bottom: 30px
			#overview
				.image
					height: 350px
					background-repeat: no-repeat
					background-position: center
					background-size: cover
					.project-cause-icon
						position: absolute
						bottom: 5px
						text-align: center
						left: 15px !important
						width: 60px
						height: 60px
						border-radius: 50%
						color: #fff
						background-size: 60% !important
						background-color: #ef5a20 !important
						background-repeat: no-repeat !important
						background-position: center
						display: flex
						flex-direction: column
						justify-content: center
						z-index: 1
					.project-cause-name
						position: absolute
						bottom: 5px
						margin-left: 35px
						height: 60px
						line-height: 60px
						display: flex
						flex-direction: column
						justify-content: center
						color: #fff
						font-size: 18px
						background: rgba(0, 0, 0, 0.5)
						padding-left: 35px
						padding-right: 12px
						border-bottom-right-radius: 35px
						border-top-right-radius: 35px
				.col-md-5
					.features
						margin-bottom: 10px
						flex-direction: row
						display: flex
						width: 100%
						padding: 5px 10px 5px 10px
						border-bottom: 1px solid rgba(0,0,0,0.2)
						align-items: center
						.heading
							color: #ef5a20
							font-weight: 600
							text-transform: uppercase
							margin-right: 15px
							width: 30%
						.content
							width: 70%
							display: flex
							flex-wrap: wrap
			
			#description
				ol
					list-style-type: decimal !important
					list-style-position: inside !important

				.innovation-card
					margin: 15px 0
					box-shadow: 0 0 1px 1px rgba(0,0,0,0.3)
					div.is-inspired-by
						background: #fff
						color: #222
						text-align: center
						text-transform: uppercase
						letter-spacing: 1px
						font-size: 15px
						font-weight: 600
						height: 40px
						line-height: 40px
						border-top: 4px solid #ef5a20
					a.innovation-card-image-link
						display: block
						position: relative
					.innovation-card-cause-icon
						position: absolute
						top: 10px
						text-align: center
						left: 10px
						width: 40px
						height: 40px
						background-size: 70% !important
						background-repeat: no-repeat !important
						background-position: center !important
						border-radius: 50%
						color: #444
						display: flex
						flex-direction: column
						justify-content: center
					img.innovation-card-image
						width: 100%
					a
						color: #222 !important
					.innovation-card-title
						padding: 5px 10px
						font-weight: 600
						font-size: 13px
					.innovation-card-description
						padding: 5px 10px
						font-weight: 500
						font-size: 12px
					span.desc.ellipsis
						overflow: hidden
						text-overflow: ellipsis
						display: -webkit-box
						-webkit-line-clamp: 2
						-webkit-box-orient: vertical
					div.read-more
						color: #205aef
						font-weight: 600
						cursor: pointer
			#finances
				.cost-table, .amount-breakup-table
					.amount-breakup, .cost-allocated
						span
							text-align: center
							font-size: 12px !important
							height: 30px
							line-height: 30px
							color: rgba(0, 0, 0, 0.65) !important
							padding: 0px 6px
							width: 100%
							display: block
					.header
						font-weight: 600
						padding-bottom: 3px
						margin-bottom: 8px
						border-bottom: 1px solid #bababa
						padding: 3px
						&.col-md-2 > button.btn
							height: 30px
							padding: 0px 12px !important
							line-height: 30px
							margin: 0
							margin-top: -9px
							width: 100%
							display: flex
							justify-content: center
							align-items: center
							> div
								margin-right: 3px
					textarea.comment
						min-height: 40px !important
						font-size: 12px !important