.im-container.im-project-page
	height: calc(100vh - 60px)
	.im-project-sidebar
		left: 0
		top: 60px
		z-index: 9
		width: 200px
		height: 100%
		display: flex
		position: fixed
		background: #fafafa
		flex-direction: column
		box-shadow: 0px 2px 4px 1px #515356
		ul.projects-sidebar-menu-items, ul.projects-sidebar-footer-menu-items
			margin: 15px 0
			li.projects-sidebar-menu-item, li.projects-sidebar-footer-menu-item
				cursor: pointer
				padding: 10px 0 10px 35px
				transition: all 0.4s ease
				> span.menu-item
					color: #2bc
					font-size: 16px
					font-weight: 700
					text-transform: uppercase
				&:hover
					background: #2bc
				&.selected
					background: #10a1b1
					border-top: 1px solid rgba(255, 255, 255, 0.7)
					border-bottom: 1px solid rgba(255, 255, 255, 0.7)
				&:hover, &.selected
					> span.menu-item
						color: #fff
		div.projects-sidebar-footer
			left: 0
			bottom: 8px
			width: 200px
			display: flex
			position: absolute
			justify-content: center
	// .im-projects-container
