.im-project-finances-page
	.im-project-finance-container
		top: 0
		left: 200px
		height: 100%
		overflow: hidden
		position: absolute
		margin: 30px 25px 0 25px
		width: calc(100% - 250px)
		.finance-tabs-container
			display: flex
			margin: 0 16px
			align-items: center
			justify-content: space-between
			.left-section-tabs, .right-section-tab
				.finance-tab-btn
					font-size: 16px
					min-width: 200px
					border-radius: 0
					font-weight: 600
					padding: 10px 25px
					color: #444 !important
					text-transform: uppercase
					transition: all 0.4s ease
					box-shadow: 0px 0px 1px #333
					background: #fafafa !important
					&.selected
						color: #fff !important
						background: #ef5a20 !important
						&:hover
							background: #ef5a20 !important
					&:hover
						color: #fff !important
						background: #ed7546 !important
		.finance-tabs-content
			height: 90%
			padding: 15px
			overflow-y: scroll
			.tab-content
				&.budget-tab-content
					.react-bs-table-container
						table
							*
								font-size: 14px
							thead
								th
									padding: 6px 4px
									white-space: normal
							tbody
								td
									padding: 6px 4px
									white-space: normal
									border-color: #eaeaea
									.table-btn
										box-shadow: 1px 1px 1px #ef5a20
										&:hover
											box-shadow: 1px 1px 1px #666
					.budget-tab-buttons-container
						display: flex
						margin: 20px 20%
						align-items: center
						justify-content: space-evenly
						.btn
							min-width: 220px
							margin-bottom: 20px
							text-transform: uppercase
							transition: all 0.4s ease
							box-shadow: 1px 1px 1px #ef5a20
							&:hover
								box-shadow: 1px 1px 1px #666
				&.history-tab-content
					border: 1px solid #e3e3e3
					.history-tab-heading
						color: #ef5a20
						display: block
						font-weight: 600
						padding: 8px 15px
					.history-item
						color: #ef5a20
						margin: 5px 15px
						padding: 5px 10px
						position: relative
						background: #fbfbfb
						border: 1px solid #eeeeee
						transition: all 0.4s ease
						> span
							cursor: pointer
							transition: all 0.4s ease
						&:hover
							background: #f8f8f8
							> span
								text-decoration: underline
						button.btn.revert-btn
							top: 4px
							right: 10px
							font-size: 15px
							padding: 2px 10px
							position: absolute
							text-transform: uppercase
							transition: all 0.4s ease
							box-shadow: 1px 1px 1px #fff
							&:hover
								box-shadow: 1px 1px 1px #333
						.history-finance-data
							padding: 4px
							margin: 5px 0
							background: #fff
							.react-bs-table-container
								table
									*
										font-size: 14px
									thead
										th
											padding: 6px 4px
											white-space: normal
									tbody
										td
											padding: 6px 4px
											white-space: normal
											.table-btn
												box-shadow: 1px 1px 1px #ef5a20
												&:hover
													box-shadow: 1px 1px 1px #666
				&.investment-tab-content
					.react-bs-table-container
						table
							*
								font-size: 14px
							thead
								th
									padding: 6px 4px
									white-space: normal
							tbody
								td
									padding: 6px 4px
									white-space: normal
									border-color: #eaeaea
									.table-btn
										box-shadow: 1px 1px 1px #ef5a20
										&:hover
											box-shadow: 1px 1px 1px #666
					.investment-tab-buttons-container
						display: flex
						margin: 20px 20%
						align-items: center
						justify-content: space-evenly
						.btn
							min-width: 220px
							margin-bottom: 20px
							text-transform: uppercase
							transition: all 0.4s ease
							box-shadow: 1px 1px 1px #ef5a20
							&:hover
								box-shadow: 1px 1px 1px #666
					.pagination-container
						ul.pagination
							li
								&.active a
									color: #fff !important
									background: #ef5a20 !important
									border-color: #ef5a20 !important
								a
									color: #ef5a20 !important
						h3.no-history-found
							display: flex
							height: 270px
							margin: 15px 0
							background: #eee
							align-items: center
							justify-content: center