.im-live-project-details
  #milestones.section, #financials.section, #impact.section
    .ribbon
      font-size: 16px !important
      width: 150px
      position: relative
      background: #ef5a20
      color: #fff
      text-align: center
      height: 50px
      line-height: 50px
      margin: 0 auto
      margin-bottom: 50px
      &:before, &:after
        content: ""
        position: absolute
        display: block
        bottom: -1em
        border: 1.5em solid #ff7239
        z-index: -1
      &:before
        left: -2em
        border-right-width: 1.5em
        border-left-color: transparent
      &:after
        right: -2em
        border-left-width: 1.5em
        border-right-color: transparent
      .ribbon-content
        font-weight: 600
        text-transform: uppercase
        &:before, &:after
          content: ""
          position: absolute
          display: block
          border-style: solid
          border-color: #c14a1b transparent transparent transparent
          bottom: -1em
        &:before
          left: 0
          border-width: 1em 0 0 1em
        &:after
          right: 0
          border-width: 1em 1em 0 0

  #milestones.section
    .milestones-container
      margin: 50px 0
      .milestones-start, .milestones-end
        width: 60px
        height: 3px
        background: #ef5a20
        margin: 0 auto
      .milestone-container
        width: 100%
        display: flex
      .milestones-left-container, .milestones-right-container
        width: 49%
      .milestones-line-container
        width: 4px
        background: #ef5a20
        margin: 0 calc(1% - 2px)
        display: flex
        flex-direction: column
        justify-content: center
        &.right
          margin-left: calc(50% - 2px)
        span.dot
          display: block
          height: 18px
          width: 18px
          border-radius: 50%
          margin-left: -7px
          background: #ef5a20
          display: flex
          align-items: center
          justify-content: center
          transition: all 0.4s ease
          span.inner-dot
            display: block
            height: 10px
            width: 10px
            border-radius: 50%
            background: #fff
            display: flex
            justify-content: center
            align-items: center
            transition: all 0.4s ease
          &.hovered
            width: 60px
            height: 60px
            margin-left: -28px
            span.inner-dot
              width: 52px
              height: 52px
              background: #ef5a20
              .edit, .delete
                display: flex
                width: 100%
                height: 100%
                color: #fff
                justify-content: center
                transition: all 0.4s ease
                cursor: pointer
              .edit
                background: #62cbd2
                border-top-left-radius: 50px
                border-bottom-left-radius: 50px
                &:hover
                  background: #3cbec7
              .delete
                background: #ff5353
                border-top-right-radius: 50px
                border-bottom-right-radius: 50px
                &:hover
                  background: #E53939

      .milestones-left-container
        .left-milestone
          text-align: right
      .left-milestone, .right-milestone
        margin: 20px 30px
        span
          display: block
          width: 100%
          > a > span
            text-decoration: underline
        .title
          color: #ef5a20
          font-weight: 600
          font-size: 18px
          overflow: hidden
          display: -webkit-box
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
        .date
          color: #555
          font-weight: 600
          font-size: 16px
        .description
          color: #555
          font-size: 14px
          overflow: hidden
          display: -webkit-box
          -webkit-line-clamp: 4
          -webkit-box-orient: vertical
        .creator
          font-weight: 600
          color: #666
          font-size: 14px

    .add-milestone-button-container
      position: fixed
      right: -150px
      top: calc(50% - 25px)
      color: #ef5a20
      opacity: 0
      transition: all 0.4s ease
      display: flex !important
      cursor: pointer
      &.show
        opacity: 1
        &.always
          right: -5px !important
        &:hover
          right: -5px
      .add-milestone
        background: #ef5a20
        color: #fff
        margin: 6px 0 6px -10px
        padding: 0 5px
        line-height: 36px
        text-transform: uppercase
        font-weight: 600
        box-shadow: inset -2px 0px 2px #fff
        letter-spacing: 1px
        width: 150px

    .add-milestone-form
      background: #f3f3f3
      box-shadow: 0px 0px 2px #999
      > h3
        text-transform: uppercase
        color: #444
        padding-left: 30px
        font-size: 18px
        font-weight: 600
      textarea#milestone-description
        font-size: 12px
        resize: vertical
        border: 1px solid #d9d9d9 !important
        background: #fff
        padding: 6px 12px
        min-height: auto
        color: rgba(0, 0, 0, 0.65) !important
        width: 100%
      .form-buttons
        .btn
          margin: 0 10px 10px 10px

  #financials.section
    .financials-container
      .planned-budget-container, .funder-investment-container, .funds-utilized-container
        margin-bottom: 30px
        h3
          margin-bottom: 20px
          text-decoration: underline #ef5a20
          color: #ef5a20
          text-transform: uppercase

      .planned-budget-container
        .amount-breakup-table
          background: #f9f9f9
          box-shadow: 0px 0px 2px #bbb
          .header-container
            border-bottom: 1px solid #bababa
            display: flex
            align-items: center
            .header
              font-weight: 600
              padding: 5px 0

        .amount-breakup
          display: flex
          align-items: center
          &.odd
            background: #f3f3f3
          &.even
            background: #fdfdfd
          > div
            padding: 8px 0
          span
            text-align: center
            font-size: 12px !important
            color: rgba(0, 0, 0, 0.65) !important
            padding: 0 6px
            width: 100%
            display: block
          span.amount-breakup-description
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

      .funder-investment-container
        .cost-table
          background: #f9f9f9
          box-shadow: 0px 0px 2px #bbb
          .cost-allocated
            display: flex
            align-items: center
            &.odd
              background: #f3f3f3
            &.even
              background: #fdfdfd
            > div
              padding: 8px 0
            span
              text-align: center
              font-size: 12px !important
              color: rgba(0, 0, 0, 0.65) !important
              padding: 0px 6px
              width: 100%
              display: block
          .header-container
            border-bottom: 1px solid #bababa
            display: flex
            align-items: center
            .header
              font-weight: 600
              padding: 5px 0
              &.col-md-2 > button.btn
                height: 30px
                padding: 0px 12px !important
                line-height: 30px
                margin: 0
                margin-top: -9px
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                > div
                  margin-right: 3px
      .funds-utilized-container
        .funds-container
          .empty-utilizations-container
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            padding: 30px 0
            .empty-utilizations-button
              background: #fff
              border: 1px solid #ef5a20
              color: #ef5a20
              font-size: 22px
              padding: 5px 15px
              box-shadow: 1px 1px 1px #ef5a20
              transition: all 0.4s ease
              text-transform: uppercase
              cursor: pointer
              &:hover
                background: #ef5a20
                color: #fff
                box-shadow: 1px 1px 1px #222
          .utilization-form-container
            background: #eaeaea
          .utilization-form-details
            label
              font-size: 14px
            > div
              min-height: 70px
              margin-bottom: 6px
              span.note
                font-size: 12px
              > div > *
                width: 100%
              > div input:not([type="file"]), > div textarea
                height: 40px
                border: 1px solid #aaa
                padding: 0 8px
          .buttons, .buttons button
            display: flex
            align-items: center
            justify-content: center