.my-live-projects
  .previous-investments
    .previous-investment
      height: 180px
      background: #fafafa
      box-shadow: 0px 1px 1px #bababa
      padding: 0 !important
      .previous-investment-image
        height: 100%
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        .index
          background: #ef5a20
          color: #fff
          width: 36px
          height: 36px
          font-size: 15px
          border-radius: 50%
          display: flex
          box-shadow: 1px 1px 1px #333
          justify-content: center
          align-items: center
          margin-left: -30px
          margin-top: -15px
        .status
          width: 100px
          height: 100px
          overflow: hidden
          position: absolute
          top: -10px
          right: -10px
          &::before, &::after
            position: absolute
            z-index: 0
            content: ''
            display: block
          span
            position: absolute
            z-index: 1
            display: block
            width: 155px
            padding: 15px 0
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
            font: 500 13px/1 'Lato', sans-serif
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
            text-transform: uppercase
            text-align: center
            left: -20px
            top: 10px
            transform: rotate(45deg)
          &::before
            top: 0
            left: 0
          &::after
            bottom: 0
            right: 0
          &.draft
            &::before, &::after
              border: 5px solid #a93a0f
              border-top-color: transparent
              border-right-color: transparent
            span
              color: #fff
              background-color: #ef5a20
          &.live
            &::before, &::after
              border: 5px solid #16921b
              border-top-color: transparent
              border-right-color: transparent
            span
              color: #fff
              background-color: #4CAF50
          &.completed
            &::before, &::after
              border: 5px solid #2980b9
              border-top-color: transparent
              border-right-color: transparent
            span
              color: #fff
              background-color: #3498db
      .previous-investment-details, .previous-investment-amount
        padding: 15px
        height: 100%
        > div
          font-size: 13px
          > label
            font-size: 14px
            margin-right: 5px
      .previous-investment-amount
        background: #f4f4f4
        .invest-funds
          button
            color: #ef5a20
            background: #fff
            border: 1px solid #ef5a20
            transition: all 0.3s ease
            border-radius: 0
            &:hover
              background: #ef5a20
              color: #fff
      .previous-investment-details
        .project-name-container
          overflow: hidden
          text-overflow: ellipsis
          display: -webkit-box
          -webkit-line-clamp: 1
          -webkit-box-orient: vertical
        .read-more
          button
            color: #ef5a20
            background: #fff
            border: 1px solid #ef5a20
            transition: all 0.3s ease
            border-radius: 0
            &:hover
              background: #ef5a20
              color: #fff

  .filters
    margin: 20px auto
    padding: 20px
    .heading
      font-size: 24px
      font-weight: 600
      color: #666

    .search-filter-container
      overflow: hidden
      width: 400px
      vertical-align: middle
      white-space: nowrap
      float: right

      &:hover button.search-filter-icon:hover
        opacity: 1

      input.search-filter-input
        width: 100%
        height: 36px
        background: #eaeaea
        border: 1px solid #d3d3d3
        font-size: 10pt
        float: left
        color: #555
        padding: 0 65px 0 30px
        -webkit-border-radius: 50px
        -moz-border-radius: 50px
        border-radius: 50px

        &::-webkit-input-placeholder
          color: #666
        &:-moz-placeholder
          color: #666
        &::-moz-placeholder
          color: #666
        &:-ms-input-placeholder
          color: #666

      button.search-filter-icon
        -webkit-border-top-right-radius: 50px
        -webkit-border-bottom-right-radius: 50px
        -moz-border-radius-top-right: 50px
        -moz-border-radius-bottom-right: 50px
        border-bottom-right-radius: 50px
        border-top-right-radius: 50px
        margin-left: -60px
        border: 1px solid rgba(239, 90, 32, 1)
        box-sizing: border-box
        background: rgba(239, 90, 32, 1)
        opacity: 0.7
        height: 36px
        width: 60px
        color: #fff
        font-size: 10pt
        -webkit-transition: all .35s ease
        -moz-transition: all .35s ease
        -ms-transition: all .35s ease
        -o-transition: all .35s ease
        transition: all .35s ease
    .filter-apply-btn, .filter-reset-btn
      float: right !important
      margin: 5px
      margin-top: 20px
      background: #fff
      border: 1px solid #ef5a20 !important
      color: #ef5a20 !important
      text-transform: uppercase
      &:hover
        background: #ef5a20
        color: #fff !important
  .no-investments-container
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    > .no-investments-button
      background: #fff
      border: 1px solid #ef5a20
      color: #ef5a20
      font-size: 25px
      padding: 0 25px
      height: 60px
      line-height: 60px
      transition: all 0.5s ease
      cursor: pointer
      margin-top: 30px
      &:hover
        background: #ef5a20
        color: #fff
