.im-project-page .im-project-container.im-project-report-expense-container
	top: 0
	left: 5px
	height: 100%
	background: #fff
	overflow-y: scroll
	position: absolute
	width: calc(100% - 5px)
	padding: 15px 15px 0 15px
	.bills-container
		padding: 0 15px
		border-top: 1px solid #ccc
		> h4
			font-size: 18px
			font-weight: 600
		> .has-bill-container
			color: #6f6f6f
			.label-container
				margin: 0
				height: 25px
				cursor: pointer
				font-size: 16px
				user-select: none
				position: relative
				align-items: center
				-ms-user-select: none
				-moz-user-select: none
				-webkit-user-select: none
				&:hover input ~ .checkmark
					background-color: #ccc
				input:checked ~ .checkmark
					background-color: #2196F3
				input:checked ~ .checkmark:after
					display: block
				&.disabled
					cursor: not-allowed
					.checkmark
						background-color: #444 !important
				.checkmark:after
					top: 5px
					left: 9px
					width: 7px
					height: 14px
					border: solid white
					transform: rotate(45deg)
					border-width: 0 3px 3px 0
					-ms-transform: rotate(45deg)
					-webkit-transform: rotate(45deg)
				input
					opacity: 0
					cursor: pointer
					position: absolute
				.checkmark
					top: -2px
					width: 25px
					height: 25px
					position: absolute
					background-color: #ddd
					left: calc(100% + 15px)
					&:after
						content: ""
						display: none
						position: absolute
		> .add-bill-container
			padding: 10px
			margin: 10px 0
			box-shadow: 0 0 3px 1px #aaa
			.show-bills-container, .no-bills
				padding: 10px
				text-align: center
				background: #f3f3f3
			.show-bills-container
				padding: 0
				display: flex
				.bills-sidebar
					width: 20%
					background: #eeeeee
					.bill-container
						display: flex
						cursor: pointer
						text-align: left
						padding: 6px 10px
						position: relative
						flex-direction: column
						transition: all 0.4s ease
						&:hover
							background: #e5e5e5
						&.selected
							background: #dddddd
							box-shadow: 0px 1px 2px #444
						.bill-title
							color: #222
							display: block
							font-size: 17px
							font-weight: 600
						.bill-date
							color: #666
							display: block
							font-size: 13px
						.bill-delete-container
							bottom: 0
							right: 5px
							width: 30px
							height: 30px
							opacity: 0.9
							display: flex
							color: #ef5a20
							font-size: 22px
							border-radius: 50%
							position: absolute
							align-items: center
							top: calc(50% - 15px)
							justify-content: center
							transition: all 0.4s ease
							&:hover
								opacity: 1
								color: #ef5a20
								background: #fff
				.selected-bill, .no-selected-bill
					width: 80%
					padding: 15px
					text-align: left
					border: 1px solid #eee
				.selected-bill
					padding: 0
					.ant-calendar-picker
						width: 100%
						input.ant-calendar-picker-input
							color: #333
							border-radius: 0
							&:disabled
								background: #efefef !important
					.upload-bill-container
						.pg-viewer-wrapper
							margin: 10px 0
							box-shadow: 0px 0px 1px #777
							canvas
								width: 100%
						img.bill-image
							max-width: 100%
						.pdf-placeholder
							width: 140px
							height: 180px
							background-size: contain !important
							background: url(/images/pdf-placeholder.png) center no-repeat
						.image-input-download-container
							display: flex
							align-items: center
							justify-content: space-between
							a
								font-weight: 600
								color: #ef5a20 !important
								transition: all 0.4s ease
								border: 2px solid transparent
								&:hover
									color: #ef5a20 !important
									border-bottom: 2px solid #ef5a20
					.bill-description
						min-height: 80px
	.report-expense-buttons-container
		display: flex
		align-items: center
		justify-content: center
		.btn
			margin: 0 5px
			min-width: 100px
			&.report-expense-cancel-button
				background: #333 !important
	.form-control[disabled]
		background: #efefef !important