@import '~antd/dist/antd.css';


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-dropdown-link {
  margin-right: 18px;
}

a{
  color: #EF5A20
}

.ant-btn-primary {
  background-color: #EF5A20;
  border-color: #EF5A20; 
  border: none;
  outline: none
}

.ant-input-group-addon .ant-btn-primary:hover,.ant-btn-primary:hover {
  background-color: #F06934 !important;
  border-color:#F06934 !important; 
}

.ant-input-group-addon .ant-btn-primary:hover,.ant-btn-primary:focus {
  background-color: #F06934 !important;
  border-color:#F06934 !important; 
  border: none;
  color: white !important;
}

.ant-btn:hover{
  color: #F06934 !important;
  border-color: #F06934 !important;
  color: white !important;
}


a :hover{
  color: #F06934;
}

.ant-card-grid {
  box-shadow: none !important;
}

.ant-card-head{
  color: #EF5A20;
  font-weight: 700;
  border-bottom: none;
}

.ant-card-bordered{
  border: none;
  border-bottom: 1px solid #e8e8e8;
}

.ant-card-head-title{
  font-size: 22px;
}

.ant-slider-track{
  background-color: #F06934;
}

.ant-slider-handle{
  border: solid 2px #F06934;
}

a:hover {
  color: #F06934 !important;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #F06934;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
